<% provide(:title, 'Home') %>
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<a href="<%= user_path(current_user) %>">
  				<%= gravatar_for current_user, size: 50 %>
			</a>
			<h1>
  				<%= current_user.name %>
			</h1>
			<span>
  				<%= link_to "view my profile", current_user %>
			</span>
			<span>
  				<%= pluralize(current_user.microposts.count, "micropost") %>
			</span>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
	<div class="span8">
		<h3>Micropost Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>
<% else %>
<%= link_to image_tag("belage.png", alt: "Mejorando tu salud"), signin_path %>
<div class="center hero-unit">
  <h1>Mejora tu salud!</h1>
  <br />
  <video class="video-js vjs-default-skin" controls preload="auto" width="640" height="290" >
	<source src="BELAGE.mp4" type='video/mp4'/>
	<source src="BELAGE.webm" type='video/webm' />
	<source src="BELAGE.ogv" type='video/ogg' />
  </video>
  <br />
  	Descarga el video <a href="BELAGE.webm">aqui</a>
  <br />
  <h2>
    Este es el sitio que te ayudara a
    <a href="https://www.facebook.com/pages/Mejorandotusalud/542349175786786/"> Mejorar tu salud</a>
  </h2>
  <%= link_to "Suscribirse ahora!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<!--
<br />
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="2Q4WCAL6CRBHQ">
	<input type="image" src="https://www.sandbox.paypal.com/es_XC/MX/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
	<img alt="" border="0" src="https://www.sandbox.paypal.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>
-->
<% end %>
